#!/usr/bin/make -f

export DH_VERBOSE=1
export CARGO_HOME=$(CURDIR)/debian/cargo-home

%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(CARGO_HOME)
	rustup target add x86_64-unknown-linux-musl || true

override_dh_auto_build:
	cargo build --release --target x86_64-unknown-linux-musl

override_dh_auto_install:
	install -D -m 755 target/x86_64-unknown-linux-musl/release/hbbr debian/rustdesk-hbbr/usr/bin/hbbr
	install -D -m 644 systemd/rustdesk-hbbr.service debian/rustdesk-hbbr/lib/systemd/system/rustdesk-hbbr.service

override_dh_auto_test:
	# Tests disabled for now

override_dh_auto_clean:
	rm -rf $(CARGO_HOME)
	cargo clean || true
	dh_auto_clean